*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

.header{
	width:100%;
	height: 100vh;
  	background-color: #FC3A00;
  	background-image: url(../images/bg11.jpg);
  	background-repeat: no-repeat;
 	background-attachment: fixed;
 	text-align: center;
}

.navbar{
	float: right;
}

.header-content{
	text-align: center;
	margin-top: 5%;
}

.header-logo{
	width: 200px;
	
}

.sub{
	font-family: 'Cormorant Garamond', serif;
}

.menu-logo{
	width: 100px;
	padding: 10px;
}

.about-me{
	width: 100%;
	height: 100vh;
	background-color:#DED5D0;
}
 
.about-menu{
	padding: 10px;
	float: right;
}	

.break{
	height: 15vh;
	/*display: */
}
.mini-break{
	height: 5vh;
	/*display: */
}

.about-text{
	font-size: 70px;
	font-family: 'Cormorant Garamond', serif;
	color: white;
	margin-top: 1%;
}

.about-button{
	background-color: black;
	border:	3px solid white;
	padding: 5px;
	color: white;
}

.full-stack{
	color:#FF3803;
	font-family: 'Cormorant Garamond', serif;
}

.portfolio-header{
	color: white;
	background-color: black;
	padding: 5px;
	text-align: center; 
	height: 40px;
}

.portfolio-section{
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}

.orange{
	color:#FF3803;
	
}

.project-name{
	font-family: 'Cormorant Garamond', serif;
	color:#FF3803;
}

.guide{
	border: 1px solid black;
	background-color: yellow;
	opacity: 0.5;
}

.portfolio-main-img{
	/*width: 500px;*/
}

.black-line{
	width: 100px;
	height: 3px;
	background-color: black;
}

.horizontal{
	width: 80px;
}

.portfolio-2{
	width: 100%;
	height: 100%;
	background-color:#DED5D0;
	/*border-top: 5px solid #FF3803;*/
}

.project-img{
	text-align: justify;
	text-align-last: center;

}

.view-portfolio{
	width: 200px;
	text-align: center;
	color: white;
	background-color: black;
	margin: 0 auto;
	padding: 5px;
	text-decoration: none;
}

.view-holder{
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}

.background{
	width: 100%;
	height: 100%;
	background-color:#DDD6D0;
}

.button-holder{
	width: 100%;
	text-align: center;
}

.educ, .work{
	color: white;
	font-family: 'Cormorant Garamond', serif;
}

a{
	text-decoration: none;
	color: white;
}

.contact-me{
	text-align:center;
}
footer{
	width: 100%;
	text-align: center;
	background-color: #FF3803;
}

.socials{
	width: 20px;
	margin: 10px;
	float-right;
}

.social-media{
	float: right;
}

.btn-orange{
	background-color: #FF3803;
	color: white;
	margin-bottom: 20px;
	border: 2px solid white;
	text-decoration: none;
}

.header-content > p{
	text-align: justify;
	text-align-last: center;
}

.contact-me h5{
	text-align: justify;
	text-align-last: center;
}
h3{
	font-weight: bold;
}

.bg-orange{
	background-color: #ff4b1c;
}

.black{
	color: black;
}

.orange{
	color: #FF3803;
}
.square-size{
	width: 300px;
	height: 300px;
}

.about-text{
		margin-top: 5%;
	}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(100, 22, 1, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(100, 22, 1, 0.6);
  outline: 0 none;
}


/*start of about-me.html*/
.skill{
	width: 100%;
}

.bg-success{
	background-color: #004e4e  !important;
}

/*end of about-me.html*/

/*start of gallery.html*/
.gallery-section{
	background-color: #DED5D0;
}

/*end of gallery.html*/

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .break{
  	height: 5vh;
  }

  .mini-break{
  	height: 2vh;
  }

  .portfolio-main-img{
	width: 200px;
	text-align: center;
	margin:	0 auto;
	}

	.header-logo{
	width: 100px;
	margin-top: 10%;
	}

	.menu-logo{
		width: 75px;
	}
	.header-content{
		margin-top: 1%;
	}

	.header-content p{
		font-size: 12px;
	}
	.about-text{
		font-size: 50px;
	}

	.portfolio-main-photo{
		text-align: center;
	}

	.view{
		float: right
	}

	.main-project h6{
		text-align: justify;
		text-align-last: center
	}

	.contact-me h3{
		font-size: 20px;
	}

	.contact-me h5{
		font-size: 15px;
	}

	.educ h3{
		font-size: 20px;
	}

	.educ h5{
		font-size: 15px;
	}

	.work h3{
		font-size: 20px;
	}

	.work h5{
		font-size: 15px;
	}

	.square-size{
		width: 200px;
		height: 200px;
	}

	.view-sm{
		float: left;
	}
 }

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.break{
  		height: 7vh;
	}

	.mini-break{
  		height: 4vh;
	}

	.main-project{
		text-align: center;
	}

	.portfolio-main-photo{
		text-align: center;
	}

	.about-text{
		margin-top: 20%;
	}

	.header-content{
		margin-top: 20%;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  
  
 }